*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(img/3fondo.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;

}
nav > a{
    color: aliceblue;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;

}
nav > a:hover{
    text-decoration: underline;
} 

.table{
    margin-top: 50px;
}

tr td{
    border: solid 1px rgba(99, 3, 3, 0.397);
    font-family: "calibri";
    color: #fff;
    text-align: center;

}

